.c-header {
  background-color: var(--ink-black);
  background-color: var(--ink-black);
  grid-template-rows: min-content 1fr min-content min-content;
  height: 100vh;
  position: relative;

  .c-menu {
    grid-row: 1 /2;
  }

  &__leyend {
    background-color: var(--ink-black);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 4rem;
    grid-row: -1 / -3;
    z-index: 1;
  }

  &__title {
    margin-top: 0;
    text-align: center;
    border-top: 3px solid white;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.25rem;
    text-transform: uppercase;
    color: white;
    font-size: clamp(2rem, 4vw, 2.7rem);
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 0;

    @include media("max", mg("md")) {
      margin-bottom: 1rem;
    }
  }

  &__subtitle {
    margin-top: 0;
    text-align: center;
    color: var(--ink-white);
    font-size: clamp(1.3rem, 3vw, 2rem);
    line-height: 1.1;
    letter-spacing: -1px;
  }

  p {
    max-width: var(--bp-md);
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include media("max", mg("md")) {
      display: none;
    }
  }
}
