$messages: (
  ink-info-text: #00529b,
  ink-info-bg: #bde5f8,
  ink-info-link: #0079ff,
  ink-success-text: #155724,
  ink-success-bg: #d4edda,
  ink-success-link: #2fbd4f,
  ink-warning-text: #856404,
  ink-warning-bg: #fff3cd,
  ink-warning-link: #ce9b00,
  ink-error-text: #721c24,
  ink-error-bg: #f8d7da,
  ink-error-link: #ff273b,
);
